{% extends "base.html" %}
{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="owl-carousel slide-one-item">
                    <div><img src="../static/images/property_1.jpg" alt="Image" class="img-fluid"></div>
                </div>
            </div>
            <div class="col-lg-7 pl-lg-5 ml-auto">
                <div class="mb-5">
                    <h1 class="text-black mb-4">Nairobi, Lavington Agwigs Rd, Phase Two</h1>
                    <h2>Ksh.20,000</h2>
                    <br>
                    <p>This prime retail oasis boasts 207 feet of wrap around storefront,
                         with 33 feet of frontage on North Michigan Avenue, expansive windows
                          and high ceilings of 13 feet. Situated in a high traffic area of up to 
                          55,000 people per day, neighboring retailers include The Shops at Northbridge 
                          anchored by Nordstrom’s, Burberry, Louis Vuitton, 
                          Ermenegildo Zegna, Apple, Forever 21, GAP and recently signed Under Armour.</p>
                   <br>
                    <p><a href="" class="btn btn-primary">Book Property</a></p>
                    <p><a href="" class="btn btn-primary btn-sm">Contact Owner</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}